/* ******************************************************************
***********************************
*** Natural: A remote desktop for embed systems.
*** By Alejandro Linarez Rangel.
*** Stylesheet.
***********************************
****************************************************************** */

@font-face {
	font-family: "NaturalIconSet";
	src: url('natural-icon-set.woff') format('woff');
}

.nic {
	-moz-user-select: none !important;
	-webkit-user-select: none !important;
	-ms-user-select: none !important;
	user-select: none !important;
	font-family: "NaturalIconSet", Verdana, Geneva, Tahoma, sans-serif !important;
}

.block {
	display: inline-block;
	border-radius: 5px;
}

.absbottom {
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(100% - 59px);
	margin: 0px !important;
	padding: 0px !important;
	box-sizing: border-box;
	display: flex;
	background-color: rgba(0, 0, 0, 0.7) !important;
	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 1);
}

.item {
	display: inline-block;
	cursor: pointer;
	padding: 8px;
	border: 1px solid white;
	background-color: black;
}
.item:hover {
	background-color: white;
	color: black;
}

.background {
	background-color: #00aaff;
	background: url("/images/background-def.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: contain;
}

.iblock {
	display: inline-block !important;
}

.contextmenu {
	display: none;
	position: absolute;
	top: 59px;
	left: 0px;
	height: calc(100% - 59px);
	width: 30%;
	z-index: 100;
}

/* .contextmenu::before {
	content: " ";
	display: block;
	position: absolute;
	border: 20px solid transparent;
	position: absolute;
	top: -40px;
	left: 0px;
	width: 0px;
	height: 0px;
	border-bottom-color: #DEEAEE;
} */

.link, .cursor {
	cursor: pointer;
}

.border-round {
	border-radius: 5px;
}

.applogo {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 1);
	cursor: pointer !important;
	display: inline-block;
}

.treeview {
	box-sizing: border-box;
	display: block;
	cursor: auto;
	overflow: auto;
	padding: 8px;
	margin: 4px;
}

.treenode {
	display: block;
	cursor: pointer;
	margin-left: 8px;
	padding: 4px 8px;
	cursor: pointer;
}

.treenode-hover:hover {
	background-color: #CCC;
}

.user-can-select {
	-moz-user-select: all;
	-webkit-user-select: all;
	-ms-user-select: all;
	user-select: all;
}

.user-cant-select {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#main {
	display: relative;
}
